@using System.Net.Mime
@using System.Reflection
@model Assignment3.ViewModels.ComponentTypesIndexViewModel

@{
    ViewData["Title"] = "Component Type";
    Layout = "_Layout";
    var imgSrc = "";
}
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/templatemo-style.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/typed.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/custom.js"></script>
</head>


<body id="top">
    <div class="preloader">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <h2>Component Types</h2>

    <div class="row">
        <p>
            <a asp-action="Create">Create New Component Type</a>
        </p>

        @using (Html.BeginForm("ComponentTypesIndexForCategory", "ComponentTypes", FormMethod.Get))
        {
            //@Html.HiddenFor(Model => Model.SelectedCategoryId)
            <div>
                @Html.DropDownListFor(x => x.SelectedCategoryId, new SelectList(Model.Categories.Select(x => x.CategoryId)), new { @class = "form-control", style = "width: 250px" })
            </div>
            <div>
                <input type="submit" id="GetSessionsBtn" value="Select" class="btn btn-primary" />
            </div>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Component Name")
                    </th>
                    <th>
                        @Html.DisplayName("Component Info")
                    </th>
                    <th>
                        @Html.DisplayName("Location")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("Datasheet")
                    </th>
                    <th>
                        @Html.DisplayName("Image")
                    </th>
                    <th>
                        @Html.DisplayName("Image Url")
                    </th>
                    <th>
                        @Html.DisplayName("Manufacturer")
                    </th>
                    <th>
                        @Html.DisplayName("Wiki Link")
                    </th>
                    <th>
                        @Html.DisplayName("Admin Comment")
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.ComponentTypes.Where(x => x.CategorieIdsList.Contains(Model.SelectedCategoryId)))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComponentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ComponentInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datasheet)
                        </td>
                        <td>
                            @if (item.Image != null)
                            {
                                var imgsourceFromUrlActions = Url.Action("GetImgFromComponentType", "ComponentTypes", new { id = item.ComponentTypeId });

                                <img src="@imgsourceFromUrlActions" alt="@item.FileName" height="100" width="100" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WikiLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminComment)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ComponentTypeId">Edit</a>
                            <br />
                            <a asp-action="Details" asp-route-id="@item.ComponentTypeId">Details</a>
                            <br />
                            <a asp-action="Delete" asp-route-id="@item.ComponentTypeId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>